* {
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-image: url("kuvat/Jyväskylä_Airport_1.png");
    background-size: 100%;
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    text-align: center;
    padding-top: 5rem;
}

input[type=text] {
    padding: .5rem;
    margin: .5rem;
    font-size: large;
    box-shadow: 0 10px 105px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-align: center;
}

input[type=submit] {
    padding: .5rem;
    border-radius: 30px;
    justify-content: center;
}

input[type=submit]:hover {
    background-color: aquamarine;
}

.ei {
    padding: .5rem;
    border-radius: 30px;
    justify-content: center;
}

.ei:hover {
    background-color: aquamarine;
}

.animation {
    width: 0;
    height: 200px;
    position: relative;
}

img {
    width: 200px;
    height: 200px;
    position: absolute;
}