body {
    margin: 0;
    padding: 0;
    background-color: rgb(58, 62, 66);
    font-family: 'Chakra Petch', sans-serif;
}

#game {
    display: flex;
    position: absolute;
    top: 8%;
    height: 68.5%;
    width: 800px;
}

#map {
    height: 100%;
    width: 100%;
}

#canvas {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

#yläkulma {
    margin-left: 0;
    padding-right: 5%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    height: 8%;
    gap: 1rem;
    top: 0px;
    background-color: rgb(24, 37, 41);
}

#pisteet {
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  width: fit-content;
  border-radius: 2rem;
  background-color: aliceblue;
  font-weight: bold;
}

#polttoaine {
    /*idk*/
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  width: fit-content;
  display: flex;
  border-radius: 2rem;
  background-color: aliceblue;
  font-weight: bold;
}

#hp {
    /*idk*/
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2rem;
  background-color: pink;
  padding: 0.5rem;
  padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#logo {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 5%;
    color: aliceblue;
}

#logo img {
    height: 5rem;
}

#hp img {
    /* width: 2.5rem; */
    height: 2.5rem;
    padding: 0.5rem;
    padding-top: 0;
}

#airports {
    margin-left: 800px;
    margin-top: 5rem;
    padding: 1rem;
    grid-column-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.5rem;
    justify-content: left;
    z-index: 99999;
}

#airports div {
    padding: 1rem;
    border-radius: 2rem;
    border-style: ridge;
    border-color: black;
    background-color: rgb(24, 37, 41);
    color: aliceblue;
    
}

#viholliset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 5rem;
    position: fixed;
    width: 100vw;
    height: 20%;
    bottom: 0px;
    padding: 1rem;
  /* justify-content: space-evenly; */
  gap: 0;
    background-color: rgb(24, 37, 41);
}

#viholliset div {
    margin: auto;
    padding: 0.5rem;
    width: 80%;
    height: 80%;
    border-radius: 2rem;
    border-style: ridge;
    border-color: black;
    font-size: 16px;
    text-align: center;
    justify-items: center;
}

#viholliset div p {
    display: inline-flex;
    margin: 1rem;
    font-size: 20px;
}

#viholliset div h2 {
    display: inline-flex;
}

#viholliset div img {
    display: grid;
    margin: auto;
    
}

#viholliset img {
    height: 3rem;
}

.iceman {
    background-color: aliceblue;
}