#game {
    display: flex;
    position: absolute;
    height: 600px;
    width: 800px;
}

#map {
    height: 100%;
    width: 100%;
}

#canvas {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

#hp {
    /*idk*/
  margin-left: 70vw;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2rem;
  background-color: grey;
}

#hp img {
    width: 3rem;
    padding: .4rem;
}

#viholliset {
    position: fixed;
    width: 100vw;
    bottom: 0px;
    padding: 1rem;
    display: flex;
  justify-content: space-evenly;
  gap: 1rem;
    background-color: darkgray;
}

#viholliset div {
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
    border-style: ridge;
    border-color: black;
}

#viholliset img {
    height: 3rem;
}

.iceman {
    background-color: cadetblue;
}