body {
    background-color: slategray;
}

#game {
    display: flex;
    position: absolute;
    height: 600px;
    width: 800px;
}

#map {
    height: 100%;
    width: 100%;
}

#canvas {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

#yläkulma {
    margin-left: 800px;
    position: sticky;
    display: flex;
    justify-content: right;
    height: 5rem;
    gap: 1rem;
    top: 0px;
    background-color: navy;
}

#pisteet {
    padding: 1rem;
  width: fit-content;
  border-radius: 2rem;
  background-color: darkgrey;
}

#polttoaine {
    /*idk*/
  padding: 1rem;
  width: fit-content;
  display: flex;
  border-radius: 2rem;
  background-color: darkgrey;
}

#hp {
    /*idk*/
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  border-radius: 2rem;
  background-color: pink;
}

#hp img {
    width: 3rem;
    padding: .4rem;
}

#airports {
    margin-left: 800px;
    padding: 1rem;
    grid-column-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.5rem;
    justify-content: left;
}

#airports div {
    padding: 1rem;
    border-radius: 2rem;
    border-style: ridge;
    border-color: black;
    background-color: grey;
}

#viholliset {
    position: fixed;
    width: 100vw;
    height: 14rem;
    bottom: 0px;
    padding: 1rem;
    display: flex;
  justify-content: space-evenly;
  gap: 1rem;
    background-color: darkgray;
}

#viholliset div {
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
    border-style: ridge;
    border-color: black;
}

#viholliset img {
    height: 3rem;
}

.iceman {
    background-color: cadetblue;
}